@import 'semantic-ui-css/semantic.min.css';

:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.herbImg {
  height: 140px;
  width: 150px
}


.herbCard {
  margin: 2px;
  padding:2px;
  display: flex;
  padding-left: 2px;
  max-height: min-content;
}

.card-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }

  /* Profile.js css */
  .profile {
    padding: 20px;
  }
  
  .avatar-circle {
    width: 80px;
    height: 80px;
    background-color: #fcfcfc; 
    color: #056d52; /* Text color */
    border-radius: 50%; /* Circle shape */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Tabs Styles */
  
  .ui.fluid.tabular.menu {
    border:#056d52;
    border-radius:1px;
  }
  
  .ui.tabular.menu .item {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff; 
    color: #056d52; 
  }
  
  .ui.tabular.menu .active.item {
    background-color: #056d52; /* Active tab background color */
    color: #fff; /* Active tab text color */
  }
  .ui.tabular.menu .item:hover {
    background-color:#000000;
    color: rgb(255, 255, 255);
}

  .ui.segment {
    background: rgba(52, 52, 52, 0.8);
    background-color: rgba(52, 52, 52, 0.8)
  }
  .ui.segment .active.item {
    background: rgba(52, 52, 52, 0.8);
    background-color: rgba(52, 52, 52, 0.8);
  }

  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 1rem;
    max-width: 700px;
  }

  .filter {
    margin: 2px;
    padding-right: 80px;
    display: flex;
    width:fit-content; 
}

.textArea {
  height: fit-content;
  resize: vertical;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing:border-box;
  border-color: lightgray;
  border-radius:5px;
  font-family:'Lato','Helvetica Neue',Arial,Helvetica,sans-serif
}

.allCards {
  border-radius: 10px;
  font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: 20px;
  /* display: inline-block; */
  text-align: center;
}


/* body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #3AAFAB;
  color: #fff;
  padding: 50px 0;
} */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

.profileCommentBtn {
  background-color: #056d52
}